<div>
    <h1 class="header-title">
        Ad Bounty Demo
    </h1>

    <div *ngIf="!hasMetaMask">
        Non-Ethereum browser detected. You should consider trying Mist or MetaMask!
    </div>
    <div *ngIf="!isKovan">
        Ad Bounty is built using the Kovan Testnet. Please switch via Metamask or Mist and reload.
    </div>
    <div *ngIf="error">
        Unexpected Error!
    </div>
    <div *ngIf="metamaskValid()">

        <div *ngIf="loadingEmail">
            <mat-spinner [diameter]="30">

            </mat-spinner>
        </div>
        <div *ngIf="askForEmail()">
            <div>
                Welcome to Ad Bounty. Enter your email address (this is a demo, so fake email address if fine!)
            </div>
            <div>
                <input type="text" [(ngModel)]="formEmail" (keypress)="checkKey($event)">
            </div>
            <div>
                <button mat-raised-button color="primary" (click)="submitEmail()">
                    Submit
                </button>
            </div>
        </div>
        <div *ngIf="showWelcome()">
            <div>
                Welcome to Ad Bounty, {{defaultAccount}}
            </div>

        </div>
        <div>
            <h1>
                My Contracts
            </h1>
            <div *ngIf="loadingContractsConnected">
                <mat-spinner [diameter]="30">

                </mat-spinner>
            </div>

            <div *ngIf="!loadingContractsConnected">
                <app-contract-connected  [defaultAccount]="defaultAccount"  [contractAddress]="contractAddress"
                    *ngFor="let contractAddress of contractsConnected">

                </app-contract-connected>
            </div>


            <h1>
                Available Advertisements
            </h1>
            <div>
                If you are a content creator and are looking to sell advertising space, choose from offerings below.
            </div>
            <div *ngIf="loadingAvailableAds">
                <mat-spinner [diameter]="30">

                </mat-spinner>
            </div>
            <div *ngIf="!loadingAvailableAds">
                <app-contract-offer [defaultAccount]="defaultAccount" [adTemplate]="adTemplate"
                    *ngFor="let adTemplate of availableAdTemplates">

                </app-contract-offer>
            </div>

        </div>

        <div>
            <h1>
                My Advertisements for Sale
            </h1>
            <div>
                Here are the advertisements you are offering for sale.
            </div>
            <div *ngIf="loadingMyAds">
                <mat-spinner [diameter]="30">

                </mat-spinner>
            </div>
            <div *ngIf="!loadingMyAds">
                <button mat-raised-button color="primary" (click)="toggleAdOffering()">
                    + Add New
                </button>

                <div *ngIf="addingNewOffering">
                    <div class="top-padding">
                        Name of Contract
                    </div>
                    <div>
                        <mat-form-field>
                            <mat-label> Contract Name </mat-label>
                            <input matInput placeholder="Name" [(ngModel)]="newOffering.name">
                        </mat-form-field>
                    </div>
                    <div class="top-padding">
                        Description of Contract. Include any constraints on the ad here. Examples would
                        be requested length of the ad, placement in the video, and verbiage.
                    </div>
                    <div>
                        <mat-form-field>
                            <mat-label> Contract Description </mat-label>
                            <textarea matInput placeholder="Description" [(ngModel)]="newOffering.description">
                            </textarea>
                        </mat-form-field>
                    </div>
                    <div class="top-padding">
                        Contract validity (Days)
                    </div>
                    <div>
                        <mat-form-field>
                            <mat-label> Days </mat-label>
                            <input type="number" matInput placeholder="10" [(ngModel)]="newOffering.validityDays"
                                (ngModelChange)="validityConvert($event)" />
                        </mat-form-field>
                    </div>
                    <div class="top-padding">
                        Payment amount (Wei)
                    </div>
                    <div>
                        <mat-form-field>
                            <mat-label> Payment </mat-label>
                            <input matInput placeholder="100000" [(ngModel)]="newOffering.payment">
                        </mat-form-field>
                    </div>

                    <div class="top-padding">
                        Payment threshold (View Count)
                    </div>
                    <div>
                        <mat-form-field>
                            <mat-label> Threshold </mat-label>
                            <input matInput placeholder="20000" [(ngModel)]="newOffering.threshold">
                        </mat-form-field>
                    </div>
                    <div class="top-padding">
                        <button mat-raised-button color="primary" (click)="submitOfferingClick()">
                            Submit
                        </button>
                    </div>


                </div>
                <div>
                    {{offeringSubmitError}}
                </div>
                <app-contract-offer [defaultAccount]="defaultAccount" [adTemplate]="adTemplate"
                    *ngFor="let adTemplate of myAdTemplates">

                </app-contract-offer>




            </div>
        </div>
    </div>


</div>