<mat-card class="contract-card">
    <mat-card-header>
        <div mat-card-avatar class="example-header-image"></div>
        <mat-card-title>
            {{adTemplate.name}}
        </mat-card-title>
        <mat-card-subtitle> Offer </mat-card-subtitle>
    </mat-card-header>
    <fa-icon [icon]="faFileSignature" size="2x" class="icon-style"></fa-icon>

    <mat-card-content>
        <p>
            {{adTemplate.description}}
        </p>
    </mat-card-content>
    <mat-card-actions class="contract-footer">
        <mat-grid-list cols="2" rowHeight="20px">

            <mat-grid-tile [colspan]="1" [rowspan]="1">
                Payment Amount
            </mat-grid-tile>

            <mat-grid-tile [colspan]="1" [rowspan]="1">
                {{adTemplate.payment}}
            </mat-grid-tile>

            <mat-grid-tile [colspan]="1" [rowspan]="1">
                View Count Threshold
            </mat-grid-tile>

            <mat-grid-tile [colspan]="1" [rowspan]="1">
                {{adTemplate.threshold}}
            </mat-grid-tile>
            <mat-grid-tile *ngIf="allowCreate()" [colspan]="2" [rowspan]="1">
                <button mat-raised-button color="primary" (click)="createContract()">
                    Create Contract
                </button>
            </mat-grid-tile>
        </mat-grid-list>
    </mat-card-actions>
</mat-card>