<mat-card class="contract-card">
    <mat-card-header>
        <div mat-card-avatar class="example-header-image"></div>
        <mat-card-title>
            {{adTemplate.name}}
        </mat-card-title>
        <mat-card-subtitle> Offer </mat-card-subtitle>
    </mat-card-header>
    <fa-icon [icon]="faFileSignature" size="2x" class="icon-style"></fa-icon>

    <mat-card-content>
        <p>
            {{adTemplate.description}}
        </p>
    </mat-card-content>
    <mat-card-actions class="contract-footer">
        <mat-grid-list cols="2" rowHeight="20px">

            <mat-grid-tile [colspan]="1" [rowspan]="1">
                Payment Amount
            </mat-grid-tile>

            <mat-grid-tile [colspan]="1" [rowspan]="1">
                {{adTemplate.payment}}
            </mat-grid-tile>

            <mat-grid-tile [colspan]="1" [rowspan]="1">
                View Count Threshold
            </mat-grid-tile>

            <mat-grid-tile [colspan]="1" [rowspan]="1">
                {{adTemplate.threshold}}
            </mat-grid-tile>

            <mat-grid-tile *ngIf="allowCreate()" [colspan]="2" [rowspan]="2">
                <button mat-raised-button color="primary" (click)="createContractToggle()">
                    Create Contract
                </button>
            </mat-grid-tile>
            <mat-grid-tile *ngIf="showYoutubeField" [colspan]="2" [rowspan]="3" class="smaller">
                Enter Youtube ID here. This ID can be found on any Youtube video by going to Share and copying from
                "https://youtu.be/{{ '{' }}youtube ID{{ '}' }}"
            </mat-grid-tile>
            <mat-grid-tile *ngIf="showYoutubeField" [colspan]="2" [rowspan]="2">
                <mat-form-field class="top-padding">
                    <mat-label> Youtube ID </mat-label>
                    <input matInput placeholder="gN-T6NDWQ1" [(ngModel)]="youtubeId">
                </mat-form-field>
            </mat-grid-tile>
            <mat-grid-tile *ngIf="showYoutubeField && !isDeploying" [colspan]="2" [rowspan]="2">
                <button mat-raised-button color="primary" (click)="contractToChain()">
                    Submit to Blockchain
                </button>
            </mat-grid-tile>
            <mat-grid-tile *ngIf="showYoutubeField && isDeploying" [colspan]="2" [rowspan]="2">
                <mat-spinner [diameter]="30">

                </mat-spinner>
            </mat-grid-tile>
            <mat-grid-tile *ngIf="!youtubeIdValid" [colspan]="2" [rowspan]="2">
                Failed to validate given Youtube ID. Please try again.
            </mat-grid-tile>
        </mat-grid-list>
    </mat-card-actions>
</mat-card>